  
/* CSS - Name: "positionstyles.css" */
.content1 {
    /* This is the parent of the activity 1 boxes. */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 20px;
       
}
.red1 { 
    width: 100%; 
    height: 200px; 
    background-color: red; 
    grid-column: 1/3;
} 
.green1 {
width: 400px; 
height: 400px; 
background-color: green; 
} 
.yellow1 {
width: 400px; 
height: 400px; 
background-color: gold; 
} 
.blue1 {
    width: 100%; 
    height: 200px; 
    background-color: blue; 
    grid-column: 1/3;
} 
 /* Activity 2 styles */ 
.content2 {
    /* This is the parent of the activity 2 boxes. */
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.red2 {
width: 50px; 
height: 50px; 
background-color: red; 
margin-top: 50px;
} 
.green2 { 
width: 50px; 
height: 50px; 
background-color: green; 
margin-left: 25px;
margin-top: -25px;
margin-bottom: -50px;
 } 
.yellow2 {
width: 50px; 
height: 50px; 
background-color: gold;
margin-left: 50px;
margin-top: 25px;
} 
.blue2 {
width: 50px; 
height: 50px; 
background-color: blue; 
margin-left: 75px;
margin-top: -25px;
} 
 /* Activity 3 styles */ 
.content3 {
    /* This is the parent of the activity 3 boxes. */
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.red3 {
width: 100%; 
height: 200px; 
background-color: red; 
grid-column: 1/3;
 } 
.green3 {
width: 600px; 
height: 400px; 
background-color: green;
grid-column: 1/2;
 } 
.yellow3 {
width: 600px; 
height: 400px; 
background-color: gold; 
grid-column: 1/2;
margin-left: 2100px;
margin-top: -400px; 
 } 
.blue3 {
width: 100%;
height: 200px; 
background-color: blue; 
grid-column: 1/3;
 } 
 /* Activity 4 styles */ 
.content4 {
    /* This is the parent of the activity 4 boxes. */
    height: 200px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    display:grid;
    grid-template-columns: 4;
    grid-row: 4;
}
.red4 {
width: 400px; 
height: 480px; 
background-color: red; 
margin-top: 500px;
margin-bottom: -400px;
 } 
.green4 {
width: 300px; 
height: 160px; 
background-color: green; 
margin-right: -570px;
margin-top: -80px;
} 
.yellow4 {
width: 300px; 
height: 160px; 
background-color: gold; 
margin-right: -570px;
 } 
.blue4 {
width: 300px; 
height: 160px; 
background-color: blue; 
margin-right: -570px;
 } 
/* Activity 5 styles */ 
.content5 {
    /* This is the parent of the activity 5 boxes. */
     justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.red5 { 
width: 900px; 
height: 100px; 
background-color: red; 
margin-top: 500px;
grid-column: 1/2;
 } 
.green5 { 
width: 250px; 
height: 250px; 
background-color: green; 
position: relative;
 } 
.yellow5 {
width: 900px; 
height: 300px; 
background-color: gold; 
grid-column: 1/2;
margin-top: -250px;
} 
.blue5 {
width: 900px; 
height: 100px; 
background-color: blue; 
grid-column: 1/2;
 } 
  /* Activity 6 styles */ 
  .content6 {
    /* This is the parent of the activity 6 boxes. */

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.red6 {
width: 600px; 
height: 300px; 
background-color: red; 
} 
.green6 {
width: 300px; 
height: 300px; 
background-color: green;
margin-top: 300px; 
position: relative;
 } 
.yellow6 {
width: 300px; 
height: 600px; 
background-color: gold; 
margin-left: 600px;
margin-top: -600px;
position: relative;
} 
.blue6 {
width: 600px; 
height: 600px; 
background-color: blue; 
margin-left: 150px;
margin-top: -750px;
} 

/* Do not make any changes below here */
 .activity {
width: 70%; 
margin: 20px auto; 
font-family: Arial, sans-serif; 
border: 1px solid black; 
padding: 10px; 
clear:both; 
overflow: auto;
} 

.hint {
border: 1px solid grey;
background: #e0e0e0;
padding: .5em;
position: relative;
margin: 1em 0;
}

.hint h3 {
margin: 0;
}
.hint:hover {
background: #d0d0d0;
}
.hint > div {
display: none;
}

.hint input[type=checkbox] {
position: absolute;
width: 100%;
height: 100%;
opacity: 0;
z-index: 1;
cursor: pointer;
}

.hint input[type=checkbox]:checked ~ div {
display: block;
}

.hint i {
position: absolute;
transform: translate(-6px, 0);
margin-top: 16px;
right: 10px;
top: -3px;
}
.hint i:before, .hint i:after {
content: "";
position: absolute;
background-color: black;
width: 3px;
height: 9px;
}
.hint i:before {
transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type=checkbox]:checked ~ i:before {
transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type=checkbox]:checked ~ i:after {
transform: translate(2px, 0) rotate(-45deg);
}
.hint a {
position: relative;
z-index: 1;
}
