
body {
    max-width: 1100px;
  
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
main section {
    text-align: center

}
.button-box{ 
    text-align: center
  

}
#hero-msg h1{
    display: grid; 
    background-color: #ee8c0d;
color: #af3314;
text-align: center
}
.home-title {
    display: grid; 
    background-color: #ee8c0d;
color: #af3314;
margin-top: 50px;
text-align: center

}
#hero-msg h4{
    text-align: center
    }
    nav a{
        text-align: center
    }
header {
    display: grid;
    text-align: center;
    background-color:#ee8c0d;
 
    color: #af3314;
}
nav a:hover {
    background-color:#af3314;
 
    color: #af3314;
}
.book, .join {
    text-align: center;
    background-color: #000000;

    color:  #af3314;
    text-decoration: none;
    display: grid;
    text-align: center;
}
.book:hover, .join:hover {
    background-color: #ee8c0d;
    display: grid;
    text-align: center;
    color: #af3314;
}
#background {
    background-color:#ee8c0d;
 
}
.msg {
    background-color: #af3314;
  
}

nav a {
    text-align: center;
    background-color:  #4e676b;
    width: 100%;
    color: #af3314;
    text-decoration: none;
}
.home-title{
    background-color:  #ee8c0d;
    text-align: center;
    color: #af3314;
}
h4{
    background-color:  #ee8c0d;
    color: #af3314;
}
.msg h2{
    background-color:  #ee8c0d;
    color: #af3314;
}
.msg p{
    background-color:  #ee8c0d;
    color: #af3314;
}
footer a{
    background-color: #ee8c0d;
    color: #af3314;
}
footer a:hover{
    background-color: #000000;
    color:#3d0a0a;
}
.icon {
    width: 100px;
}
.logo {
    width: 100px;
}
#background {
    height: 270px;
}
footer p {
    font-size: 0.6em;
    margin-top: 15px;
}  
footer p a:hover {
    text-decoration: underline;
} 
nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    text-align: center;
  }
  .msg {
    background-color: #6f7364;
    line-height: 1.5em;
  }

  h2 {
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin: 0;
  }
  #logo_link {
    text-decoration: none;
    color: #3d0a0a;
    text-align: center;
    padding-top: 5px;
}
.book, .join {
    text-decoration: none;
    color: #3d0a0a;
    text-align: center;
    padding: 15px 30px;
}
.icon {
    text-decoration: none;
    color: #5c0b0b;
    text-align: center;
    padding-top: 10px;
}
.msg {
    text-decoration: none;
    color: #af3314;
    text-align: center;
    padding: 35px;
}
.msg p {
    text-decoration: none;
    color: #af3314;
    text-align: center;
    padding-bottom: 15px;
}
header {
    display: grid;
    text-align: center;
    grid-template-columns: 200px auto;
    margin-top: 10px;
    width: 100%;
}
nav {
    text-align: center;
    display: flex;
    grid-template-columns: 200px auto;
    justify-content: space-around;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-msg h4 {
    color: #af3314;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.card-img {
    border: 10px solid #6d6018;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.msg {
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
        text-align: center;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
        text-align: center;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}
a{
    text-decoration: none;
    color: rgb(180, 70, 88)
 }
 .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ee8c0d; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #af3314;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #3d0a0a;
  }
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }
  .home-title {
    display: grid; 
    background-color: #ee8c0d;
color: #af3314;
position: float;
text-align: center
}
#hero-box {
    margin-bottom: 10px;
    grid-column: 1/4;
    grid-row: 1/3;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}