@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --primary-color: #ee8c0d   ;
    --secondary-color: #8b2f17 ;
    --accent1-color: #3d0a0a;
    --accent2-color: rgb(0, 0, 0);

    --heading-font: "IM Fell French Canon SC";
    --paragraph-font: Lato, Helvetica, sans-serif;
  
    --headline-color-on-white: #8b2f17;  
    --headline-color-on-color: white; 
    --paragraph-color-on-white: #3d0a0a;  
    --paragraph-color-on-color: white; 
    --paragraph-background-color: #8b2f17  ;
    --nav-link-color: #8b2f17;
    --nav-background-color: #ee8c0d ;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #3d0a0a;
}
  body {
    max-width: 1100px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    display: grid;
  }
  a{
    text-decoration: none;
    color: #ee8c0d ;
  }
  img {
    display: block;
    margin: 0 auto;

  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }
  h6 {
    max-width: 200px;
    margin: 0 auto;
    padding: 4em;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    font-family: var(--heading-font);
    color: #3d0a0a;
    background: #3d0a0a;
  
  }
  h3 {
    background: #ee8c0d;
    margin-top: 100px;
    padding: 1em;
  }
  h5 {
    font-size: 20px;

  }
  h4 {
    margin-top: 500px;
  }
  h2 {
    text-align: center;
  }

  hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
  }
  header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
  }
  header > h1, header > h2 {
    color: var(--headline-color-on-color);
  }
  p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
    text-decoration: none;
  }
  .colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    background-color: #999;
  }
  .colors td{
    width: 25%;
    height: 3em;
  }
  
  .primary {
    background-color: var(--primary-color);
  }
  .secondary {
    background-color: var(--secondary-color);
  }
  .accent1 {
    background-color: var(--accent1-color);
  }
  .accent2{
    background-color: var(--accent2-color);
  }
  
  p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
  }
  
  nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
  }
  nav  {
    list-style-type: none;
    display: flex;
  
  }
  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
  
  }
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }
  
  .sitemap {
    display: grid;
    justify-content: center;
  
    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas: ". . home home . ."
      ". . . top . ."
      ". left left right right ."
      "page2 page2 . . page3 page3";
  }
  .sitemap > div {
  
    text-align: center;
  
  }
  .sm-home {
    grid-area: home;
    background-color: rgb(65, 3, 3);
    line-height: 3em;
  }
  .sm-page2 {
    grid-area: page2;
    background-color: rgb(65, 3, 3);
    line-height: 3em;
  }
  .sm-page3 {
    grid-area: page3;
    background-color: rgb(65, 3, 3);
    line-height: 3em;
  }
  
  .top {
    grid-area: top;
    border-left: 1px solid;
  }
  
  .left {
    grid-area: left;
    border-top: 1px solid;
    border-left: 1px solid;
  }
  
  .right {
    grid-area: right;
    border-top: 1px solid;
    border-right: 1px solid;
  }
  .home-title {
    display: grid; 
    background-color: #ee8c0d;
color: #8b2f17;
text-align: center
}
footer {
    text-align: center;
    color:  #ee8c0d;  
    background-color: #8b2f17;
    text-decoration: none;
    margin-top: 100px;
padding: 2em;
}